.container {
  grid-area: app-header;

  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 24px;
  background-color: var(--background-color);
  box-shadow: 0 0 4px 2px var(--box-shadow-color);
  z-index: 1;
}
